.eesy__modal-scope *:not(.eesy .fa) {
  font-family: "AUPassata" !important;
}

.embed-HtmlCode {
    width: 100% !important;
}

.eesy__modal-scope .layout__header {
  background-color: #13372c !important;
}

.eesy__modal-scope .section.___primary {
  background-color: #13372c !important;
}

.eesy__modal-scope .header__close:before {
  color: white !important;
}

.eesy__modal-scope .header__back:before {
  color: white !important;
}

.eesy__modal-scope .filter__category {
  background-color: #45be55 !important;
}

.eesy__modal-scope .section.contact_options {
  background-color: #f2f2f2;
}

.eesy__modal-scope .filter__category.___is-selected {
  background-color: #fff !important;
  color: #13372c !important;
}

.eesy__modal-scope .xbutton__close:before {
  color: #13372c !important;
}

.eesy__modal-scope .header__back:focus,
.eesy__modal-scope .header__close:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.eesy__modal-scope .header__search:before {
  color: #13372c !important;
}

.eesy__modal-scope .results__result,
.eesy__modal-scope .results__cat:before {
  color: #0a0a0a !important;
}

.eesy__modal-scope .results__vote-up,
.eesy__modal-scope .results__vote-up:before,
.eesy__modal-scope .results__vote-down,
.eesy__modal-scope .results__vote-down:before {
  color: #a9a9a9 !important;
}

.eesy__modal-scope .contact__button {
  border-style: solid !important;
  border-color: #13372c !important;
  border-width: 1px !important;
  color: #13372c !important;
}

.eesy__modal-scope .contact__button.___email:after {
  color: #13372c !important;
  font-size: 17.0625px !important;
}

.eesy__modal-scope .contact__button.___call:after {
  color: #13372c !important;
  font-size: 24.375px !important;
}
.eesy__modal-scope .contact__button.___chat:after {
  color: #13372c !important;
}

.eesy__modal-scope .contact__text {
  color: #9a9a9a;
}

.eesy__modal-scope .eesy__footer {
  background-color: #e4e4e4 !important;
  color: #0a0a0a;
}

.eesy__modal-scope .results__show-all {
  color: #13372c;
}

.eesy__modal-scope .form input[type="submit"] {
  background-color: #45be55;
  color: white;
}

.eesy__modal-scope .form__submit.___email::before {
  color: white !important;
}

.eesy__modal-scope .article a {
  color: #13372c;
}

.eesy__modal-scope .article a:hover {
  color: #45be55;
}

.eesy__modal-scope .eesy_toTopButton.isActive {
  color: white;
  background-color: #45be55;
  opacity: 1;
}

.eesy__modal-scope .isFocusable.focusStyleOutline:focus {
outline-color: white;
}


.eesy__modal-scope .form__upload__first-message:focus, .eesy__modal-scope .isFocusable.focusStyleUnderline:focus, .eesy__modal-scope span.___underline {
  text-decoration: none;
}

/*voting styling*/
.eesy__modal-scope .section.voting {
  background-color: #13372c;
}

.eesy__modal-scope .quick-survey__answer.___positive.isSelected,
.eesy__modal-scope .quick-survey__answer_Sup.___positive.isSelected {
  color: white;
  background-color: #45be55;
}

.eesy__modal-scope .quick-survey__answer.___negative.isSelected,
.eesy__modal-scope .quick-survey__answer_Sup.___negative.isSelected {
  color: white;
  background-color: #e2001a;
}


/*modal*/
.eesy__modal-scope .eesy__modal__background {
  background-color: rgba(0, 0, 0, 0.75);
}

.eesy__modal-scope .eesy__modal__box {
  box-shadow: 0px 0px 15px 10px #00000045;
}

.eesy__modal-scope .article-description {
  font-style: normal !important;
  margin-bottom: 30px !important;
}

/*common attributes*/
.eesy_container {
  border:none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
  -moz-box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
  box-shadow: 0px 0px 5px 1px rgba(115,115,115,0.66);
}





/*Systray and hint styling*/
.eesy_systray_header,
.eesy_hint_header {
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "AUPassata" !important;
  height: auto;
  position: relative;
  padding: 10px 30px 0 10px;
  width: auto;
  background-color: white;
  color: #13372c;
}
.eesy_systray_header_text,
.eesy_hint_header_text {
  position: static;
  float: none;
  margin:0;
}
.eesy_systray_content,
.eesy_hint_content {
  position: static;
  background: #fff;
  color: #000;
  border:none;
  padding: 10px;
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.6;

}

.eesy_systray_content a,
.eesy_hint_content a  {
  color: #14372c;
  text-decoration: underline;
}

.eesy_systray_content a:hover,
.eesy_hint_content a:hover {
  color: #46be55;
}

.eesy_systray_content p,
.eesy_hint_content p {
  margin-bottom: 10px;
}

.eesy_systray_footer,
.eesy_hint_footer {
  background: #fff;
  border: none;
  height: auto;
}
.eesy_systray_button,
.eesy_hint_buttons {
  cursor: pointer;
  position: relative;
  top: 4px;
  margin-bottom:11px;
}

.eesy_systray_close,
.eesy_hint_close {
  position: absolute;
  top: 5px;
  right: 10px;
  margin-right: 0;
  background: transparent;
  color: #13372c;
  display: inline-block;
  font: normal 700 12px/1 "Arial", Arial, sans-serif;
  text-align: center;
  text-shadow: none;
}
.eesy_systray_close img,
.eesy_hint_close img  {
  display: none;
}

.eesy_systray_close:hover,
.eesy_hint_close:hover {
  color: rgba(19, 55, 44, 0.7);
}

.eesy_systray_close:before,
.eesy_hint_close:before {
  content: "\f00d";
  font-family: "font-awesome";
  font-size: 25px;
  font-weight: 200;
}

.eesyarrow.up {
  border-bottom-color: white;
}

.eesyarrow.up:after {
  border-bottom-color: white;
}

.eesy-highlighted {
  outline: 4px solid #45be55;
}

/*Popup styling*/
.eesy_header {
  border: none;
  font-size: 20px;
  font-weight: bold;
  font-family: "AUPassata" !important;
  height: auto;
  position: relative;
  padding: 20px 40px 20px 20px;
  width: auto;
  background-color: #13372c;
  color: white;
}

.eesy_header_text {
  margin: 0;
  display: block;
  position: static;
  float: none;
}


.eesy_content {
  background: #fff;
  color: #000;
  border:none;
  top:0;
  padding: 20px;
  width: auto;
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.6;
}

.eesy_content center.message-type {
  text-align: left;
  margin-bottom: 10px;
}

.eesy-proactive-content-box {
  position: static;
  padding: 0;
}

.embed-Message {
  left: 15px;
  padding: 5px;
}

.eesy_footer {
  background: #fff;
  border: none;
  height: auto !important;
}

.eesy_standard_button {
  cursor: pointer;
  position: relative;
  top: 4px;
  margin-bottom:11px;
}

.eesy_hintfixed_dontshowanymore,
.eesy_systray_hide,
.eesy_standard_hide,
.eesy_hint_hide {
  font-weight: bold;
  background-color: #e4e4e4 !important;
  color: #13372c !important;
  border: none !important;
  padding: 7px 14px;
  margin:10px 20px;
}

.eesy_hintfixed_dontshowanymore:hover,
.eesy_systray_hide:hover,
.eesy_standard_hide:hover {
  color: white;
}

.eesy_hintfixed_dontshowanymore:hover,
.eesy_systray_hide:hover,
.eesy_standard_hide:hover {
  background: #c3c3c3 !important
}

.eesy_close {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-right: 0;
  background: transparent;
  color: #fff;
  display: inline-block;
  font: normal 700 12px/1 "Arial", Arial, sans-serif;
  text-align: center;
  text-shadow: none;
}

.eesy_close:hover {
  color: rgba(255, 255, 255, 0.7);
}

.eesy_close img {
  display: none;
}

.eesy_close:before {
  content: "\f00d";
  font-family: "font-awesome";
  font-size: 25px;
  font-weight: 200;
}

.eesy_container {
  font-family: "AUPassata";
}


.eesy_container .quick-survey,
.eesy_container .thanks {
  padding: 5px 20px;
}

.eesy_container .quick-survey-section {
  background-color: #e4e4e4 !important;
}

.eesy_container .quick-survey__answer.___positive.isSelected,
.eesy_container .quick-survey__answer_Sup.___positive.isSelected {
  color: white;
  background-color: #45be55;
}

.eesy_container .quick-survey__answer.___negative.isSelected,
.eesy_container .quick-survey__answer_Sup.___negative.isSelected {
  color: white;
  background-color: #e2001a;
}


/* header text style inherited from systray*/
.eesy_hintfixed_close:hover .eesy_hintfixed_close_text {
  color: #00748b;
}
.eesy_hintfixed_close:hover {
  background: white;
  border: #00748b 2px solid;
  padding: 4px 4px;
}


/* easysoft button */
.eesy-tab2-container {
  right: 10px !important;
}

.eesy-tab2-btn,
.eesy-tab2-contact-menu ul {
  color: #ffffff;
  background-color: #13372c;
}

.eesy-tab2-btn-text {
  font-family: "AUPassata";
  font-weight: normal;
  margin-right: 73px;
}


.eesy-tab2-btn-handle {
  color: rgba(255,255,255,0.4);
  line-height: 22px;
}

.eesy-tab2-btn-handle:hover {
  color: white;
}


.eesy-tab2-btn:hover .eesy-tab2-btn-handle,
.eesy-tab2-btn.eesy_draggable .eesy-tab2-btn-handle {
  right: -156px;
  top: -52px;
}

/* worst hack in the history of css... */
html[lang="da-DK"] .eesy-tab2-btn:hover .eesy-tab2-btn-handle,
html[lang="da-DK"] .eesy-tab2-btn.eesy_draggable .eesy-tab2-btn-handle {
  right: -85px;
}
